{
  "users": [
    {
      "id": 1,
      "name": "Arthur Oliveira",
      "email": "aoliveira@gmail.com"
    },
    {
      "id": 2,
      "name": "Lucas teste",
      "email": "lucasteste@gmail.com"
    }
  ]
}